@import url(../../reset.css);

:root {
  --shadow-strength: 10%;
  --shadow-color: 220 40% 2%;
}

body {
  position: relative;
  background-color: #f8f9fa;
  min-height: 100svh;
  padding-top: 20%;
}

.wrapper {
  margin: auto;
  display: grid;
  width: fit-content;
  gap: 0.5rem;
}

.menu {
  overflow: hidden;
  background-color: #f1f3f5;
  display: none;
  border-radius: 4px;
  z-index: 200;
  box-shadow: 0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}

label {
  cursor: pointer;
  padding: 0.4em 0.8em;

  &:hover {
    background-color: #ced4da;
  }
}

.selection {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;

  &:focus {
    outline: 2px solid #a797e4;
  }
}

.wrapper[open] > .menu {
  display: grid;
}

.wrapper[open] > .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 100;
}

input {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
}
