@import url('../../../reset.css');

body {
  min-height: 500vh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.progress {
  height: 3px;
  width: 0;
  background-color: #91a7ff;
  position: fixed;
  top: 0;
  left: 0;
}

.cube-wrap {
  --size: 30vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
}

.side {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: #eee;
  backface-visibility: visible;
  top: calc(var(--size) * -0.5);
  left: calc(var(--size) * -0.5);
}

.top {
  background-color: #888;
  transform: rotateX(90deg) translateZ(calc(var(--size) * 0.5));
}

.bottom {
  background-color: #999;
  transform: rotateX(90deg) translateZ(calc(var(--size) * -0.5));
}

.left {
  background-color: #ccc;
  transform: rotateY(90deg) translateZ(calc(var(--size) * 0.5));
}

.right {
  background-color: #ddd;
  transform: rotateY(90deg) translateZ(calc(var(--size) * -0.5));
}

.front {
  background-color: #aaa;
  transform: translateZ(calc(var(--size) * 0.5));
}

.back {
  background-color: #bbb;
  transform: translateZ(calc(var(--size) * -0.5));
}

@keyframes rotate {
  to {
    transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }
}

@keyframes progress {
  to {
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .cube {
      animation: rotate 1s linear both;
      animation-timeline: scroll();
      animation-range: contain;
    }

    .progress {
      animation: progress 1s linear;
      animation-timeline: scroll();
    }
  }
}
