@import url('../../reset.css');

body {
  background-color: #e8e8e8;
  font-family: 'Crimson Pro', serif;
  font-size: 1rem;
}

main {
  max-width: 1240px;
  min-height: 95vh;
  padding: 1em;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p:first-of-type {
  text-align: center;
}

header p:last-of-type {
  text-align: right;
}

article {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 3em;
}

article img {
  width: min(100%, 650px);
  height: 100%;
  flex-grow: 1;
}

article .content {
  width: min(100%, 450px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  flex-grow: 1;
}

h2 {
  font-size: clamp(1.3rem, 1.3rem + 5vw, 6rem);
  font-weight: 200;
  color: #1d1d1d;
  line-height: 1;
}

.content p {
  line-height: 1.3;
  font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1.3rem);
}
