@import url('../../reset.css');

body {
  background-color: #e8e8e8;
  font-family: 'Crimson Pro', serif;
}

main {
  display: grid;
  padding: 1em;
  grid-template-rows: 70vh max-content min-content;
}

img {
  grid-row: 1 / 2;
}

h1 {
  font-size: 8em;
  color: #e14e22;
}
