@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import '../../../reset.css';

:root {
  --colors-gray-1: hsl(0 0% 8.5%);
  --colors-gray-2: hsl(0 0% 11%);
  --colors-gray-3: hsl(0 0% 13.6%);
  --colors-gray-4: hsl(0 0% 15.8%);
  --colors-gray-5: hsl(0 0% 17.9%);
  --colors-gray-6: hsl(0 0% 20.5%);
  --colors-gray-7: hsl(0 0% 31.2%);
  --colors-gray-8: hsl(0 0% 49.4%);
}

input {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  display: grid;
  height: 100svh;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-gray-1);
  font-family: 'Lato', sans-serif;
}

.picker-container {
  --container-height: 180px;
  container-name: picker-container;
  container-type: inline-size;
  height: var(--container-height);
  overflow: hidden;
  border-radius: 12px;
  width: min(80vw, 260px);
  background-color: var(--colors-gray-2);
  border: 1px solid var(--colors-gray-4);
}

.wrapper {
  position: relative;

  .overlay-top {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: var(--colors-gray-2);
    backdrop-filter: blur(0.7px);
  }

  .overlay-bottom {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: var(--colors-gray-2);
    backdrop-filter: blur(0.7px);
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr 1fr;
  height: var(--container-height);
  position: relative;

  .overlay-focus {
    position: absolute;
    width: 100%;
    height: 30%;
    opacity: 0.7;
    background-color: var(--colors-gray-4);
    backdrop-filter: blur(0.7px);
    align-self: center;
    justify-self: center;
  }

  .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colors-gray-8);
    font-size: 3rem;
    font-weight: 700;
  }
}

.wrapper-hour,
.wrapper-minute,
.wrapper-period {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  scroll-padding-block: 2em;
  height: var(--container-height);

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.hour,
.minute,
.period {
  font-weight: 700;
  position: relative;
  color: var(--colors-gray-7);
  height: 45px;
  font-size: 2rem;
  padding-inline: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
